.navBar {
  box-shadow: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  z-index: 9999;
}
.appBar {
  box-shadow: none;
  border-bottom: 1px solid rgb(150, 150, 150);
}
.name {
  flex-grow: 1;
  font-size: 40px;
  color:rgb(32, 32, 32);
  font-family: gautreaux, sans-serif;
  align-items: center;
  display: flex;
  text-decoration: none;
}
.signin {
  font-size: 18px;
  font-family: 'Allerta Stencil', sans-serif;
}
.image {
  margin-right: 10px;
}
.grow {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.inputRoot {
  color: inherit;
}
.button {
  /* background-color: rgb(121, 121, 121); */
}
.navList {
  text-decoration: none;
  display: flex;
  justify-content:  space-around;
  list-style: none;
  align-items: center;
  padding-right: 50;
}
.navLink {
  padding-left: 50;
}
a{
  color: pink;
  text-decoration: none;
  padding: 5px;
}
.icon{ 
  color: pink;
}

/* Mobile */

@media only screen and (max-width: 600px ){
  .grow{
    flex-direction: column;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 1000px ){
  .navBar {
    overflow-x: hidden;
  }
  .grow{
    flex-direction: column;
  }
}
