.navBar {
  position: fixed;
  top: 0;
  box-shadow: none;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  z-index: 9999;
}
.appBar {
  box-shadow: none;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.appBar .line{
  border-bottom:  none;
}
.name {
  flex-grow: 1;
  font-size: 40px;
  color:rgb(32, 32, 32);
  font-family: gautreaux, sans-serif;
  align-items: center;
  display: flex;
  text-decoration: none;
}
.signin {
  font-size: 18px;
  font-family: 'Allerta Stencil', sans-serif;
}
.image {
  margin-right: 10px;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.username {
  padding: 0 10px;
  color: grey;
  font-size: 12px;
  font-weight: bold;
}
.jobTitle {
  padding: 0 10px;
  color: grey;
  font-size: 10px;
}
.login {
  padding: 0 10px;
  color: rgb(255, 183, 183);
  font-size: 12px;
  font-weight: bold;
}
.grow {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.list {
  display: flex;
  flex-direction: column;
  align-items:  center;
  list-style: none;
  cursor: pointer;
}

.list:hover {
  transform: scaleX(1.1) scaleY(1.1);
  border-radius: 50%;
}

.inputRoot {
  color: inherit;
}

.navList {
  display: flex;
  justify-content:  space-around;
  list-style: none;
  text-decoration: none;
  align-items: center;
  padding-right: 50;
  width: 330px;
}
a{
  color: pink;
  text-decoration: none;
  padding: 5px;
}
.badge {
  color: gray;
}

.itemCount {
  color: grey;
}
.icon{
  padding: 5px;
  color: rgb(95, 95, 95);
  width: 22px;
  height: 22px;
}
.icon:hover{
  background-color: rgb(236, 236, 236);
  border-radius: 50%;
}

.adminIcon {
  color: green;
  background-color: pink;
  border-radius: 50%;
}
.logout {
  color: gray;
}
.iconDisabled {
  color: rgb(223, 223, 223);
}

/* Mobile */

@media only screen and (max-width: 600px ){
  .grow{
    flex-direction: column;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 1000px ){
  .navBar {
    overflow-x: hidden;
  }
  .grow{
    flex-direction: column;
  }
  .list {
    display: flex;
    flex-direction: row;
    align-items:  center;
    justify-content: space-between;
  }
}
