.wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: .2px solid rgba(253, 156, 172, 0.712);
    margin-bottom: 5px;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    transition: .5s ease-in;
}

.wrapper:hover {
    background-color: pink;
    color: white;
    border-color: gray;
}

.product-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.product-name {
    color: rgb(112, 112, 112);
    font-size: 16px;
    padding: 10px;
}
.product-price {
    color: rgb(102, 9, 24);
    font-size: 20px;
    font-family: mina, serif;
    font-style: normal;
}

button{
    width: 100px;
    font-size: 14px;
    padding: 3px 10px;
    margin: 5px;
    background-color: pink;
    cursor: pointer;
    border: .5px solid rgba(255, 122, 144, 0.755);
    border-radius: 5px;
    transition: .5s ease-in;
}
button.homeCartButton{
    display: flex;
    flex-direction: row;
    align-items:  center;
    justify-content: flex-start;
    color: grey;
    width: 100px;
    font-size: 14px;
    padding: 5px 10px;
    margin: 5px;
    background-color: pink;
    cursor: pointer;
    border: .5px solid rgba(255, 122, 144, 0.755);
    border-radius: 5px;
    transition: .5s ease-in;
}
button.homeShoppingCartButton{
    display: flex;
    flex-direction: row;
    align-items:  center;
    justify-content: flex-start;
    color: grey;
    width: 180px;
    font-size: 14px;
    padding: 5px 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: .5px solid rgba(164, 164, 164, 0.755);
    border-radius: 5px;
    transition: .5s ease-in;
}
button.homeShoppingCartButton:hover{
    /* border-color: pink; */
    background-color: pink;
}
button.homeCartButton:hover{
    border-color: gray;
}
.homeCartButton > div{
    font-size: 10px;
    color: grey;
}

button:hover {
    background-color: white;
}
.text-right {
    text-align: right;
}
.homeCartIcon{
    font-size: 18px;
    padding: 3px 5px 3px 0;
}