
.App {
    overflow-x: hidden;
}
.main-app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.homepage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
main {
    flex: 1;
}
.homeContainer {
    display: flex;
    flex-direction: row;
}
.loadingSpinner {
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(234, 234, 255);
}

.loadingSpinnerWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

img.homeLogo {
    width : 90px;
}
.footer {
    display: flex;
    justify-content: space-between;
    border-top: .3px solid rgb(199, 199, 199);
    padding: 10px 10px;
    background-color: rgb(250, 225, 229);
}

img.footerLogo {
    width: 80px;
}
img.siteLogo {
    width: 50px;
}

.footer p{
    font-size: 12px;
    color: rgb(59, 59, 59);
}
small{
    font-size: 12px;
    color: rgb(59, 59, 59);

}

.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.dev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@media only screen and (max-width: 1000px ){
    .navBar {
      overflow-x: hidden;
    }
    .grow{
      flex-direction: column;
    }
    .top {
        padding-top: 180px;
      }
      .footer {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid gray;
        padding: 10px 2px;
        background-color: pink;
        line-height: 5px;
    }
    img.footerLogo {
        width: 70px;
    }
    img.siteLogo {
        width: 50px;
    }
    .homepage {
        flex-direction: column;
        flex: 1;
    }
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
    }
    .footerContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        border-bottom: .3px solid grey;
    }
    .footerLinks {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        border-bottom: .3px solid grey;
    }
    .dev {
        display: flex;
        padding: 10px 0;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .dev p{
        margin: 8px 0;
    }
  }




.footerLinks {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1px;
}
a{
    padding: 0;
    margin: 0;;
}
.link {
    color: grey;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: .3s ease-in;
}
.link:hover {
    color: pink;
    background-color: rgb(248, 214, 214);
    border-radius: 5px;
}

svg.footer-logo-app {
    color: green;
}
svg.footer-logo-fb {
    color: rgb(0, 104, 173);
}
svg.footer-logo-loc {
    color: rgb(255, 0, 0);
}

small{
    cursor: pointer;
    padding: 10px 0;
    color: gray;
    font-weight: lighter;
}

.log{
    font-size: 12px;
    margin: 5px;
}