.blogContainer {
    padding-top: 80px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 5px;
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 33px -18px rgb(53, 54, 66);
    -moz-box-shadow: 0px 5px 33px -18px rgb(53, 54, 66);
    box-shadow: 0px 5px 33px -18px rgb(53, 54, 66);
}

.card:hover {
    border-radius:  1px solid rgb(61, 61, 61);
    background-color: rgb(230, 242, 253);
    -moz-box-shadow: 0px 5px 33px -18px rgb(244, 204, 253);
    -webkit-box-shadow: 0px 5px 33px -18px rgb(244, 204, 253);
    box-shadow: 0px 5px 33px -18px rgb(244, 204, 253);
}
.blogPostHead {
    flex: 1;
}
.blogPostContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.blogPostDesc {
    flex: 1;
}
.blogPostBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.desc{
    color: grey;
    margin-bottom: 20px;
    line-height: 25px;
}
.releaseDate{
    font-size: 10px;
    text-align: right;
    color: grey;
    margin: 0;
    line-height: 25px;
    font-weight: bold;
}
.userName {
    color: rgb(177, 177, 177);
    font-size: 12px;
    padding: 5px;
}
.userDetailsContainer{
    padding: 10px;
    margin: 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;

}
.blogButton{
    color: grey;
    background-color: white;
    border-color: grey;
}
.blogButton:hover{
    background-color: rgb(206, 206, 206);
    color: white;
    border-color: white;
}
img.blogImage {
    width: 25px;
    height: 30px;
}
.post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postImage{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}

.postDesc {
    padding: 0 100px;
    font-size: 24px;
    font-weight: 300;
    color: gray;
}

.postLongDesc {
    padding: 100px;
    padding-top: 50px;
    font-size: 24px;
    line-height: 24px;
}

/* Small devices */

@media only screen and (max-width: 1000px){
    .card {
        width: 80%;
        padding: 10px;
        border-radius: 20px;
        -webkit-box-shadow: 0px 5px 33px -18px rgb(53, 54, 66);
        -moz-box-shadow: 0px 5px 33px -18px rgb(53, 54, 66);
        box-shadow: 0px 5px 33px -18px rgb(53, 54, 66);
    }
    .img {
        border-radius: 15px;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    
    .desc{
        color: grey;
        margin-bottom: 20px;
        line-height: 25px;
    }
    
    .post {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .postImage{
        width: 100%;
        height: 400px;
        object-fit: cover;
        margin-bottom: 20px;
    }
    .postTitle{
        font-size: 25px;
    }
    .postDesc {
        padding: 0 50px;
        font-size: 16px;
        color: gray;
    }
    
    .postLongDesc {
        padding: 50px;
        padding-top: 20px;
        font-size: 18px;
        line-height: 24px;
    }    
}

.bottomContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}