  .formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 10px 0 ;
}

.top {
  padding-top: 130px;
}

.appWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: rgb(231, 231, 231); */
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    align-items: center;
  }

  .loginWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    color:  grey;
    text-align: center;
  }
  
  .formName,
  .email,
  .password {
    margin: 20px;
    color: gray;
    font-size: 16px;
    cursor: pointer;
  }
  .password {
    margin-bottom: 40px;
  }
  
  .input {
    height: 32px;
    font-size: 15px;
    outline: none;
    width: 100%;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: .3px solid black;
    margin-bottom: 15px;
  
  }
  .error {
    font-size: 14px;
    color: red;
  }
  .submit {
    display: flex;
    font-size: 16px;
    border-radius: 25px;
    color: white;
    background-color: linear-gradient((to right, pink, rgb(68, 0, 11)));
    margin: auto;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .1s;
    text-align: center;
    justify-content: center;
  }
  button:active {
    transform: translate(2px);
  }
  .form-success {
    display: flex;
    justify-content: center;
    margin-top: 250px;
    color: pink
  }

  .formLink {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;

  }

  .formLink p {
    font-size: 13px;
    color:rgb(68, 0, 11);
    border: .2px solid gray;
    border-radius: 15px;
    padding: 3px 5px;
    transition: .3s ease-in;
  }

  .formLink p:hover {
    color: white;
    background-color: pink;
    border: .2px solid white;
  }


  /* login page */

  .loginTitle{
    font-size: 18px;
    font-weight: 0;
    margin: 0 auto;
    padding: 10px 20px;
  }
  
  p.or{
    font-size: 14px;
    font-weight: bold;
    color: gray;
  }
  .subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  
  .loginButton {
    display: flex;
    flex-direction: row;
    align-items:  center;
    padding: 0 20px;
    justify-content: center;
    cursor: pointer;
    border-radius: 15px;
    margin: 0 10px;
  }
  
  .facebook {
    background-color: #3b5998;
    cursor: pointer;
  }
  .facebook:hover {
    background-color: #4f75c7;
  }
  
  .google {
    background:linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335);
    cursor: pointer;
  }
  .google:hover {
    background:linear-gradient(-120deg, #5395ff, #34a853, #ffdb70, #fd5849);
  }

  .logo{
    width: 54px;
    height: 60px;
    background-color: pink;
    border-radius: 50%;
    padding: 5px;
    border: .3px solid gray;
  }

  @media only screen and (max-width: 1000px){
    .form-container {
      padding-top: 50px;
  }
  }